@charset "utf-8";
html,body{
    height: 100%;
}
a,
article,
aside,
body,
button,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
img,
input,
li,
menu,
nav,
ol,
p,
section,
select,
table,
tbody,
td,
textarea,
th,
tr,
ul {
    margin: 0; 
    padding: 0;
}
i,em{
    font-style: normal
}
ul,li,ol{
    list-style: none;
}
b,strong{
    font-weight: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border: 0;
}
.clearFixOne::after{
    content: " ";
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}