.bishuju {
  line-height: 13.33333vw;
  height: 13.33333vw;
}

.bishuju .touxiang {
  margin-top: 2.66667vw;
  width: 8vw;
  height: 8vw;
}

.coindata {
  color: black;
  font-size: 4.66667vw;
}

.search,
.filter {
  font-size: 5.33333vw;
}

.zhishu {
  margin: 4vw;
  color: black;
  height: 12vw;
  background: #f5f5f5;
  border-radius: 6.66667vw;
  line-height: 12vw;
}

.zhishu .headpic {
  width: 8vw;
  height: 8vw;
}

.zhishu .persent {
  color: red;
}

.hangqing {
  background: #f5f5f5;
  height: 13.33333vw;
  line-height: 13.33333vw;
}

.hangqing .hangqinga {
  margin-left: 4vw;
}

.listhead {
  margin: 4vw;
  border-bottom: 1px solid gainsboro;
}

.listhead .zhangdie {
  background: white;
  width: 90%;
  height: 20vw;
}

.listhead .zhangdie .listfirst {
  margin-left: 4vw;
}

.listhead .zhangdie .listthird {
  font-size: 0.26667vw;
}

.listhead .zhangdie .list {
  height: 10.66667vw;
}

.listhead .zhangdie .list .green {
  color: #0bb372;
  margin-left: 8vw;
}

.listhead .zhangdie .list .red {
  color: red;
  margin-left: 8vw;
}

.listhead .zhangdie .list .bba {
  color: black;
}

.listhead .zhangdie .list .price {
  margin-left: 2.66667vw;
}

.listhead .zhangdie .underline {
  float: left;
}

.listhead .underline {
  font-size: 1.86667vw;
}

.listhead .underline .heng {
  margin-left: 5.33333vw;
}

.listhead .underline .jiaoyie {
  margin-left: 2.66667vw;
}
