.container-forum {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container-forum .forum-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 0;
}

.container-forum .forum-header .header-home {
  width: 3.75rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-forum .forum-header .header-home img {
  width: 2.25rem;
}

.container-forum .forum-header .header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #333;
}

.container-forum .forum-header i {
  width: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
}

.container-forum .forum-summary {
  padding: 1rem;
  color: #ffc600;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.container-forum .forum-summary-yesterday {
  width: 33%;
  text-align: left;
}

.container-forum .forum-summary-yesterday i {
  padding-right: 0.5rem;
}

.container-forum .forum-summary-today {
  text-align: center;
  flex: 1;
  border-left: 1px solid #ffc600;
  border-right: 1px solid #ffc600;
}

.container-forum .forum-summary-sum {
  width: 33%;
  text-align: right;
}

.container-forum .forum-banner {
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;
  height: 8.03rem;
}

.container-forum .forum-banner .slider-list .slider-slide img {
  width: 100% !important;
  height: 7.03rem !important;
  border-radius: 5px;
}
