.logina {
  box-sizing: border-box;
  padding: 0 6.66667vw 9.33333vw;
  width: 100%;
}

.logina .loginhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logina .loginhead .touxiang {
  width: 8vw;
  height: 8vw;
}

.logina .loginhead .zhuce {
  font-size: 5.33333vw;
  font-weight: bold;
}

.logina .loginhead .dakai {
  font-size: 4.26667vw;
}

.logina .box {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logina .box .yonghu {
  color: #ffc600;
}

.logina .box .yanzhengma {
  color: #ffc600;
}

.logina .login {
  background: #ffc600;
  border: 1px solid #ffc600;
  width: 95%;
  height: 10.66667vw;
  border-radius: 5.33333vw;
}

.logina .tongyi {
  display: inline-block;
  margin-left: 5.33333vw;
  text-align: center;
}

.logina .tongyi .xieyi {
  color: #ffc600;
}

.logina .formdata {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
