.ant-layout-sider-trigger {
  position: relative;
}

.ant-layout-header > div {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.logo img {
  width: auto;
  height: 100%;
}

.listTitle .ant-col {
  font-weight: bold;
  font-size: 16px;
}

.userlist .gutter-row {
  text-align: center;
}
