body {
  height: 100%;
  overflow: scroll;
}

.container {
  margin-bottom: 34px;
}

.ant-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.ant-menu-item {
  display: flex !important;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: end;
  width: 20%;
  border: 0 !important;
}

.ant-menu-item i {
  margin-right: 0 !important;
}

.ant-menu-item-selected {
  color: #ffc600 !important;
  border: 0 !important;
}

.ant-menu-horizontal {
  line-height: 34px;
}
